* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url(../fonts/BebasNeueBook.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

h1,
p {
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  position: fixed; /* чтобы шапка вышел на верхний слой перед затемнением */
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid #ebebf033;
  width: 100%;
  transition: 0.4s;
}
.navbar-light {
  background-color: #fff;
  color: #292d33;
  transition: background-color 0.2s;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  height: 100vh;
}
.header-images {
  background-image: url("../images/header-bg-img.jpg");
  background-size: cover; /* растягивает картинку на всю область блока */
  background-repeat: no-repeat; /* запрещает повторение изображения */
  background-position: center; /* центрирует изображение */

  /* Родитель для absolute.
     Все элементы с position: absolute внутри будут позиционироваться относительно этого блока. */
  position: relative;
}
/* теперь чтобы добавить затемнение на изображение */
.header-images::before {
  content: "";
  /* Растягиваем псевдоэлемент поверх родителя, чтобы сделать затемнение изображения. */
  position: absolute;
  top: 0;
  right: 0;
  background-color: #292d3399;
  width: 100%;
  height: 100%;
  z-index: 0; /* обозначать что этот слой будет лежать в самом низу */
}
.navbar-logo-images {
  margin: 25px 50px;
}
.navbar-logo-link {
  border-right: 1px solid #ebebf033;
  height: 100%;
}
.header-navbar-list {
  margin: 0;
  display: flex;
  flex-grow: 1; /* увеличиваеться на всю ширину свободного пространства */
  align-items: center;
  list-style-type: none;
  gap: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.header-navbar-link,
.header-phone-link {
  color: inherit;
  text-decoration: none;
}

.header-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  background: #3a71d1;
  color: inherit;
  border: none;
  padding: 34px 60px;
  flex-shrink: 0; /* помогает не ломаться размеру точнее не разрешает самому уменьшаться */
  flex-shrink: 0;
}

.header-button {
  height: 100%;
}
.seporator {
  max-width: 150px;
  height: 2px;
  background-color: #5c8ee5;
}
.header-content {
  padding-top: 150px;
  position: relative;
  color: #ffffff;
}
.header-seporator {
  margin-top: 95px;
}
.header-title {
  font-family: "Bebas Neue Book";
  max-width: 1080px;
  margin: 30px 0;
  font-size: 80px;
  line-height: 120%;
}
.header-text {
  font-style: normal;
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
}
.header-features {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 100px;
  position: relative;
  color: #ffffff;
  padding: 0;
}
.header-features-item {
  max-width: 288px;
  height: 168px;
  list-style-type: none;
  padding: 30px 50px;
  border: 1px solid #ebebf033;
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.header-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  max-width: 188px;
  padding-top: 20px;
}
.steps {
  margin: 150px 0 30px 0;
}
.steps-title {
  font-family: "Bebas Neue Book";
  font-size: 60px;
  line-height: 120%;
  color: var(--txt);
}
.steps-list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding: 0;
}
.steps-item {
  max-width: 330px;
  max-height: 267px;
}
.steps-num {
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee5;
}
.steps-subtitle {
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
}
.steps-text {
  font-size: 16px;
  color: #828a99;
}
.steps-text-link {
  margin-bottom: 20px;
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee5;
}
.steps-link::before {
  content: " ";
  width: 40px;
  height: 1px;
  background: #5c8ee5;
  margin-right: 20px;
}
